absl-py==0.2.2
anytree==2.8.0
apturl==0.5.2
astor==0.6.2
backcall==0.1.0
beautifulsoup4==4.4.1
bleach==1.5.0
blinker==1.3
boto==2.48.0
boto3==1.7.35
botocore==1.10.35
Brlapi==0.6.4
bz2file==0.98
chardet==2.3.0
checkbox-support==0.22
click==6.7
cloudpickle==1.3.0
command-not-found==0.3
config==0.3.9
cryptography==1.2.3
cycler==0.9.0
Cython==0.27.3
dask==2.6.0
decorator==4.4.1
defer==1.0.6
dgl==0.4.2
dgl-cu90==0.4.2
dionysus==2.0.5
distributed==2.6.0
docopt==0.6.2
docutils==0.14
dynetx==0.2.2
EasyProcess==0.2.5
fastdtw==0.3.2
feedparser==5.1.3
Flask==0.12.2
Flask-Cors==3.0.6
Flask-SQLAlchemy==2.4.4
fsspec==0.6.2
future==0.17.1
fuzzywuzzy==0.17.0
gast==0.2.0
genpac==2.0.1
gensim==0.13.3
gevent==1.2.2
graphviz==0.8.2
greenlet==0.4.12
grpcio==1.12.1
guacamole==0.9.2
HeapDict==1.0.1
html5lib==0.999
httplib2==0.9.1
idna==2.0
igraph==0.1.11
ipython==6.3.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.1
jieba==0.39
Jinja2==2.8
jmespath==0.9.3
kazam==1.4.5
language-selector==0.1
llvmlite==0.31.0
locket==0.2.0
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==1.5.1
msgpack==1.0.0
networkx==2.2
numba==0.47.0
numpy==1.17.0
oauthlib==1.0.3
onboard==1.2.0
opencv-python==3.3.0.10
openshot-qt==2.4.4
padme==1.1.1
pandas==0.21.0
parso==0.1.1
partd==1.1.0
patsy==0.5.1
pexpect==4.0.1
pickleshare==0.7.4
Pillow==7.0.0
pipreqs==0.4.10
plainbox==0.25
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
psutil==5.7.0
ptyprocess==0.5
py2neo==3.1.2
pyasn1==0.1.9
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
pygpu==0.7.5
PyJWT==1.3.0
pymongo==3.10.1
pyparsing==2.0.3
python-apt==1.1.0b1
python-dateutil==2.4.2
python-debian==0.1.27
python-docx==0.8.6
python-Levenshtein==0.12.0
python-systemd==231
pytz==2014.10
PyVirtualDisplay==0.2.1
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.12
pyzmq==15.2.0
reportlab==3.3.0
requests==2.9.1
s3transfer==0.1.13
scikit-image==0.13.1
scikit-learn==0.19.0
scipy==1.4.1
screen-resolution-extra==0.0.0
selenium==3.12.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
smart-open==1.5.7
sortedcontainers==2.1.0
SQLAlchemy==1.2.7
statsmodels==0.11.1
system-service==0.3
tblib==1.6.0
tensorboard==1.8.0
tensorboardX==0.8
tensorflow-gpu==1.8.0
termcolor==1.1.0
Theano==1.0.0
toolz==0.10.0
torch==1.4.0+cpu
torchvision==0.5.0+cpu
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.2
tsfresh==0.14.1
tulip-python==5.1.0
tulipgui-python==5.1.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.13.1
usb-creator==0.3.0
wcwidth==0.1.7
Werkzeug==0.12.2
xdiagnose==3.8.4
xkit==0.0.0
XlsxWriter==0.7.3
xlwt==1.3.0
yarg==0.1.9
zict==2.0.0
